.img-responsive {
    max-width: 100%;   
}

.img-rounded {
    border-radius: 50%;
}

.w-50 {
    max-width: 50%;
}

@include media-breakpoint-down(md) {
    .sm-px-0 {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .sm-text-center {
        text-align: center !important;
    }

    .sm-mt-4 {
        margin-top: 1.5rem !important;
    }
}

.social {
    a {
        font-size: 3em;
        margin-right: .75rem;

        &.mail {
            color: #dd4b39;

            &:hover {
                color: darken(#dd4b39, 10%);
            }
        }

        &.whatsapp {
            color: #25d366;

            &:hover {
                color: darken(#25d366, 10%);
            }
        }

        &.github {
            color: #24292e;

            &:hover {
                color: darken(#24292e, 10%);
            }
        }

        &.instagram {
            color: #8a3ab9;

            &:hover {
                color: darken(#8a3ab9, 10%);
            }
        }
    }
}