+++
title = "Theme Moove"
linkTitle = "Moove"

+++

{{< blocks/cover title="Welcome to the Moove theme page!" image_anchor="/top.jpg" height="full">}}
<div class="mx-auto">
    <p class="mb-4">Here you will see all the infos about the theme, its docs and more.</p>

    <a class="btn btn-lg btn-primary mt-2" href="https://moodle.org/plugins/theme_moove">
        <i class="fa fa-download mr-2"></i>Download the theme
    </a>

    <a class="btn btn-lg btn-secondary mt-2" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KXPPJ5JZ9ZZ6N">
        <i class="fa fa-donate mr-2"></i>Make a donation
    </a>

    <p class="mt-4 px-md-5">The theme is free, but doing it and keep it updated requires a lot of work. So, help me keeping this theme free and alive and make a donation.</p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
Moove it's a Moodle's theme that makes online environments more clean and intuitive for learners and educators. Its intuitive layout is optimised for online learning, focusing on the things that matter - your learning activities and content.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-brain" title="Focus on what matters!" %}}
The theme allows the users to hide the side columns and maximize their content area, focusing on what matters, your main content!
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-users" title="Community driven" %}}
Always open to new ideas and suggestions. Trying to keep an open dialogue with the community to fix bugs, develop new features, and improve the existing ones.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-universal-access" title="Accessibility" %}}
The theme is the only one that has accessibility features. I believe that education is for everyone, so we can not leave anyone outside of that.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white" >}}

<div class="col-12">
    <h1 class="text-center">About the author</h1>
    <hr class="w-50">
</div>


<div class="row mt-4 sm-px-0">
	<div class="col-md-3">
		<img src="https://willianmano.github.io/moove/willian_mano.jpg" alt="Willian Mano" class="img-responsive img-rounded">
	</div>
	<div class="col-md-9 sm-text-center sm-mt-4">
		<h3>Willian Mano</h3>
		<p>Computer Engineer by Universidade Estadual do Maranhão and also graduated on Systems Analysis and Development by Faculdade do Maranhão. Willian started with moodle in 2009, developing plugins, integrations and everything involving the LMS. As a Zend PHP Certified Engineer and Scrum Master Certified, his job is to work every day with the most modern technologies and methodologies of software development.</p>

        <div class="social">
            <a href="https://conecti.me"><i class="fa fa-globe-americas"></i></a>
            <a href="mailto:willianmanoaraujo@gmail.com" class="mail"><i class="fa fa-envelope-square"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+5598992231059" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/willianmano" class="github"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/o_manobjj" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
	</div>
</div>

{{< /blocks/section >}}