+++
title = "Tema Moove"
linkTitle = "Moove"

+++

{{< blocks/cover title="Bem vindo a página do tema Moove!" image_anchor="/top.jpg" height="full">}}
<div class="mx-auto">
    <p class="mb-4">Aqui você encontrará todas as informações sobre o tema, documentações e etc..</p>

    <a class="btn btn-lg btn-primary mt-2" href="https://moodle.org/plugins/theme_moove">
        <i class="fa fa-download mr-2"></i>Download
    </a>

    <a class="btn btn-lg btn-secondary mt-2" href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=KXPPJ5JZ9ZZ6N">
        <i class="fa fa-donate mr-2"></i>Fazer uma doação
    </a>

    <p class="mt-4 px-md-5">O tema é gratuito, mas criá-lo e mantê-lo atualizado requer um monte de trabalho. Então, me ajude a manter este tema além de gratuito, livre e faça uma doação.</p>
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}
O Moove é um tema do Moodle que torna os anbientes virtuais de aprendizagem mais limpos e intuitivos para os estudantes e educadores. Seu layout intuitivo é otimizado para ensino online, focando nas coisas que importam, suas atividades de ensino e conteúdos.
{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-brain" title="Foco no que importa!" %}}
O tema permite que os usuários ocultem as colunas laterais, maximizando a área de conteúdo, foncando no que interessa, seu conteúdo principal.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-users" title="Guiado pela comunidade" %}}
Sempre aberto a novas idéias e sugestões. Tentando manter um diálogo aberto com a comunidade para resolver bugs, desenvolver novas funcionalidades, além de melhorar as existentes.
{{% /blocks/feature %}}


{{% blocks/feature icon="fa fa-universal-access" title="Acessibilidade" %}}
O tema é o único que contém funcionalidades de acessibilidade. Acredito que a educação é para todos,  portanto não podemos deixar niguém de fora.
{{% /blocks/feature %}}


{{< /blocks/section >}}


{{< blocks/section color="white" >}}

<div class="col-12">
<h1 class="text-center">Sobre o autor</h1>
<hr class="w-50">

<div class="row mt-4">
    <div class="col-md-3">
        <img src="{{ site.baseurl }}/willian_mano.jpg" alt="Willian Mano" class="img-responsive img-rounded">
    </div>
    <div class="col-md-9">
        <h3>Willian Mano</h3>
        <p>Engenheiro de Computação pela Universidade Estadual do Maranhão e também graduado em Análise e Desenvolvimento de Sistemas pela Faculdade do Maranhão. Willian começou com o Moodle em 2009. Desenvolvendo plugins, integrações e qualquer coisa envolvendo o LMS. Como Cerficado Zend PHP e Scrum Master, seu esforço é trabalhar diariamente com as tecnologias e metodologias mais modernas do desenvolvimento de software.</p>

        <div class="social">
            <a href="https://conecti.me"><i class="fa fa-globe-americas"></i></a>
            <a href="mailto:willianmanoaraujo@gmail.com" class="mail"><i class="fa fa-envelope-square"></i></a>
            <a href="https://api.whatsapp.com/send?phone=+5598992231059" class="whatsapp"><i class="fab fa-whatsapp"></i></a>
            <a href="https://github.com/willianmano" class="github"><i class="fab fa-github"></i></a>
            <a href="https://www.instagram.com/o_manobjj" class="instagram"><i class="fab fa-instagram"></i></a>
        </div>
    </div>
</div>
</div>

{{< /blocks/section >}}